{
  "ve_octhyratum" : [
    [0, [
        { "item" : "syrenalianmerchant" },
        { "item" : "octhyratumbattlerifle" },
        { "item" : "octhyratumbolter" },
        { "item" : "octhyratumcombatrifle" }
    ]]
  ],
  "ve_syrnljuice" : [
    [0, [
        { "item" : "ve_syrnldrink1" },
        { "item" : "ve_syrnldrink2" },
        { "item" : "ve_syrnldrink3" },
        { "item" : "ve_syrnlliquidjuice" }
    ]]
  ],
  "ve_talfierancv" : [
    [0, [
        { "item" : "syrenalianmerchant" },
        { "item" : "talfieranbattlerifle" },
        { "item" : "talfieranbolter" },
        { "item" : "talfierancombatrifle" }
    ]]
  ],
  "ve_unitarium" : [
    [0, [
        { "item" : "syrenalianmerchant" },
        { "item" : "unitariumbattlerifle" },
        { "item" : "unitariumbolter" },
        { "item" : "unitariumcombatrifle" }
    ]]
  ]
}