{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Octhyratum ", "Octus " ],
      [ { "mode" : "alts" }, "Evermoon", "Evernight", "Darklight", "Darkmoon", "Darknight" ],
      [ { "mode" : "alts" }, " Twaral", " Unskasa", " Vafieyr", " Vemira", " Xeztato" ]
    ]
  ]
}