{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Akve", "Ande", "Ashe", "Kala", "Kali", "Kila", "Talc", "Tali", "Tila" ],
      [ { "mode" : "alts" }, "ake", "ate", "ave", "kat", "ket", "kit", "vel", "ven", "vet" ],
      [ { "mode" : "alts" }, "alia", "alyn", "asyl", "sadi", "sali", "satl", "vata", "vatl", "viyr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "N", "D", "S", "H", "K", "L", "I", "T", "C", "V" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "N", "D", "S", "H", "K", "L", "I", "T", "C", "V" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "N", "D", "S", "H", "K", "L", "I", "T", "C", "V" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "t", "e", "k", "i", "v", "l", "n" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "N", "D", "S", "H", "K", "L", "I", "T", "C", "V" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "n", "d", "s", "h", "k", "l", "i", "t", "c", "v" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ],
      [ { "mode" : "alts" }, "a", "l", "s", "d", "i", "t", "v", "n", "y", "r" ]
    ]
  ]
}