{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Akve", "Ande", "Ashe", "Kala", "Kali", "Kila", "Talc", "Tali", "Tila" ],
      [ { "mode" : "alts" }, "ake", "ate", "ave", "kat", "ket", "kit", "vel", "ven", "vet" ],
      [ { "mode" : "alts" }, "alia", "alyn", "asyl", "sadi", "sali", "satl", "vata", "vatl", "viyr" ]
    ]
  ]
}