{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "P", "J", "K", "T", "Q" ],
      [ { "mode" : "alts" }, "a", "p", "j", "k", "t", "q" ],
      [ { "mode" : "alts" }, "a", "c", "e", "g" ],
      [ { "mode" : "alts" }, "a", "c", "e", "g" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "P", "J", "K", "T", "Q" ],
      [ { "mode" : "alts" }, "a", "p", "j", "k", "t", "q" ],
      [ { "mode" : "alts" }, "a", "c", "e", "g" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "P", "J", "K", "T", "Q" ],
      [ { "mode" : "alts" }, "a", "p", "j", "k", "t", "q" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ],
      [ { "mode" : "alts" }, "d", "e", "f", "g", "h", "j", "k" ]
    ]
  ]
}