{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ac", "Ap", "Aj", "Ak", "At", "Aq" ],
      [ { "mode" : "alts" }, "ac", "ae", "ag", "ea", "ee", "eg" ],
      [ { "mode" : "alts" }, "de", "fe", "ge", "he", "je", "ke" ]
    ]
  ]
}