{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ami'", "Amt'", "Aj", "Akr'", "Ar", "Ata'", "Ath'", "Az", "Va" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "ak", "er", "ita", "eka", "na", "ne", "os", "ra", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ami'", "Amt'", "Aj", "Akr'", "Ar", "Ata'", "Ath'", "Az", "Va" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "ak", "er", "ita", "eka", "na", "ne", "os", "ra", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ami'", "Amt'", "Aj", "Akr'", "Ar", "Ata'", "Ath'", "Az", "Va" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "ak", "er", "ita", "eka", "na", "ne", "os", "ra", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ami'", "Amt'", "Aj", "Akr'", "Ar", "Ata'", "Ath'", "Az", "Va" ],
      [ { "mode" : "alts" }, "a", "ad", "e", "da", "de", "ek", "i", "im", "ir", "is", "it", "k", "ka", "ke", "ku", "li", "ma", "nd", "sa", "t", "yr" ],
      [ { "mode" : "alts" }, "ak", "er", "ita", "eka", "na", "ne", "os", "ra", "yr" ]
    ]
  ]
}