{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "A'", "Ak", "Al", "Ch", "Da", "E", "Ea", "Ei", "I", "I'", "Ka", "Ma", "Se", "Ta" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "al", "ax", "az", "ex", "i", "ia", "ko", "nt", "or", "'t", "ta", "us" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "A'", "Ak", "Al", "Ch", "Da", "E", "Ea", "Ei", "I", "I'", "Ka", "Ma", "Se", "Ta" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "al", "ax", "az", "ex", "i", "ia", "ko", "nt", "or", "'t", "ta", "us" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "A'", "Ak", "Al", "Ch", "Da", "E", "Ea", "Ei", "I", "I'", "Ka", "Ma", "Se", "Ta" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "al", "ax", "az", "ex", "i", "ia", "ko", "nt", "or", "'t", "ta", "us" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "A'", "Ak", "Al", "Ch", "Da", "E", "Ea", "Ei", "I", "I'", "Ka", "Ma", "Se", "Ta" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "al", "ax", "az", "ex", "i", "ia", "ko", "nt", "or", "'t", "ta", "us" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "A'", "Ak", "Al", "Ch", "Da", "E", "Ea", "Ei", "I", "I'", "Ka", "Ma", "Se", "Ta" ],
      [ { "mode" : "alts" }, "a", "'a", "ak", "at", "'c", "ce", "d", "e", "em", "'f", "i", "'i", "ia", "ii", "in", "im", "'j", "'l", "lc", "'m", "ma", "mi", "'r", "ra", "ri", "rn", "'s", "t", "th", "vi", "ve", "ui", "yr", "x", "'z", "zk" ],
      [ { "mode" : "alts" }, "a", "'a", "al", "ax", "az", "ex", "i", "ia", "ko", "nt", "or", "'t", "ta", "us" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "'", "K", "L", "C", "H", "D", "E", "I", "M", "S", "T" ],
      [ { "mode" : "alts" }, "a", "'", "k", "l", "c", "h", "d", "e", "i", "m", "s", "t" ],
      [ { "mode" : "alts" }, "a", "'", "k", "t", "c", "e", "d", "m", "f", "i", "n", "j", "l", "r", "s", "h", "v", "v", "u", "y", "x", "z" ],
      [ { "mode" : "alts" }, "a", "'", "k", "t", "c", "e", "d", "m", "f", "i", "n", "j", "l", "r", "s", "h", "v", "v", "u", "y", "x", "z" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "'", "K", "L", "C", "H", "D", "E", "I", "M", "S", "T" ],
      [ { "mode" : "alts" }, "a", "'", "k", "l", "c", "h", "d", "e", "i", "m", "s", "t" ],
      [ { "mode" : "alts" }, "a", "'", "k", "t", "c", "e", "d", "m", "f", "i", "n", "j", "l", "r", "s", "h", "v", "v", "u", "y", "x", "z" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "'", "K", "L", "C", "H", "D", "E", "I", "M", "S", "T" ],
      [ { "mode" : "alts" }, "a", "'", "k", "l", "c", "h", "d", "e", "i", "m", "s", "t" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ],
      [ { "mode" : "alts" }, "a", "'", "l", "x", "z", "e", "i", "k", "o", "n", "t", "r", "u", "s" ]
    ]
  ]
}