{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "R", "Ra", "Ri", "K", "Ka", "Ki", "Ko", "I", "Ia", "Ii", "Ik", "O", "Oa", "Oi", "Ok", "S", "Sa", "Si", "Sk" ],
      [ { "mode" : "alts" }, "ske", "ski", "sko", "ska", "sia", "sie", "sai", "sae", "sak", "sag", "sio", "sik", "oka", "oki", "oke", "oia", "oik", "oii", "oie", "oas", "oae", "oak", "ika", "iks", "iia", "iii", "iik", "iis", "iie", "iaa", "iae", "iak", "ias", "iai", "koa", "koe", "koi", "kou", "kia", "kie", "kai", "kak", "kas", "kas", "rok", "roa", "roi", "roe", "ros", "ris", "ria", "rie", "rii", "rie", "rik", "raa", "rae", "rai", "rak", "rao", "ras" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Skeski", "Skisko", "Skoska", "Skasia", "Siasie", "Siesai", "Saisae", "Saesak", "Saksag", "Oaeoak", "Oakika", "Ikaike", "Ikeiki", "Ikiiks", "Iksiia", "Iiaiii", "Iiiiik", "Iikiis", "Iisiie", "Iieiaa", "Iaaiae", "Iaeiak", "Iakias", "Iasiai", "Iaikoa", "Koakoe", "Koekoi", "Koikou", "Koukia", "Kiakie", "Kiekii", "Kiikis", "Kiskik", "Kikkaa", "Kaakai", "Kaikak", "Kakkas", "Kasrok", "Rokroa", "Roaroi", "Roiroe", "Roeros", "Rosris", "Risria", "Riarie", "Rierii", "Riirie", "Rierik", "Rikraa", "Raarae", "Raerai", "Rairak", "Rakrao", "Raoras" ]
    ]
  ]
}