{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "R", "Ra", "Ri", "k", "ka", "ki", "Ko", "I", "Ia", "Ii", "Ik", "O", "Oa", "Oi", "Ok", "S", "Sa", "Si", "Sk" ],
      [ { "mode" : "alts" }, "ske", "ski", "sko", "ska", "sia", "sie", "sai", "sae", "sak", "sag", "sio", "sik", "oka", "oki", "oke", "oia", "oik", "oii", "oie", "oas", "oae", "oak", "ika", "iks", "iia", "iii", "iik", "iis", "iie", "iaa", "iae", "iak", "ias", "iai", "koa", "koe", "koi", "kou", "kia", "kie", "kai", "kak", "kas", "kas", "rok", "roa", "roi", "roe", "ros", "ris", "ria", "rie", "rii", "rie", "rik", "raa", "rae", "rai", "rak", "rao", "ras" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "skeski", "skisko", "skoska", "skasia", "siasie", "siesai", "saisae", "saesak", "saksag", "oaeoak", "oakika", "ikaike", "ikeiki", "ikiiks", "iksiia", "iiaiii", "iiiiik", "iikiis", "iisiie", "iieiaa", "iaaiae", "iaeiak", "iakias", "iasiai", "iaikoa", "koakoe", "koekoi", "koikou", "koukia", "kiakie", "kiekii", "kiikis", "kiskik", "kikkaa", "kaakai", "kaikak", "kakkas", "kasrok", "rokroa", "roaroi", "roiroe", "roeros", "rosris", "risria", "riarie", "rierii", "riirie", "rierik", "rikraa", "raarae", "raerai", "rairak", "rakrao", "raoras" ]
    ]
  ]
}