{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "Ak", "Al", "Am", "An", "Ar", "Av", "Ax", "Az", "Cs", "D", "Da", "De", "E", "Ei", "I", "Ik", "J", "Ja", "K", "Ka", "N", "P", "Pa", "R", "Ri", "S", "Su", "Uw", "V", "Va", "Ve", "Vo", "Z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ai", "al", "ca", "e", "ex", "fa", "i", "ia", "it", "k", "ka", "ki", "l", "li", "ly", "na", "o", "ol", "os", "r", "s", "t", "ta", "ti", "to", "um", "v", "va", "yr", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "Ak", "Al", "Am", "An", "Ar", "Av", "Ax", "Az", "Cs", "D", "Da", "De", "E", "Ei", "I", "Ik", "J", "Ja", "K", "Ka", "N", "P", "Pa", "R", "Ri", "S", "Su", "Uw", "V", "Va", "Ve", "Vo", "Z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ai", "al", "ca", "e", "ex", "fa", "i", "ia", "it", "k", "ka", "ki", "l", "li", "ly", "na", "o", "ol", "os", "r", "s", "t", "ta", "ti", "to", "um", "v", "va", "yr", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "Ak", "Al", "Am", "An", "Ar", "Av", "Ax", "Az", "Cs", "D", "Da", "De", "E", "Ei", "I", "Ik", "J", "Ja", "K", "Ka", "N", "P", "Pa", "R", "Ri", "S", "Su", "Uw", "V", "Va", "Ve", "Vo", "Z" ],
      [ { "mode" : "alts" }, "a", "ac", "ak", "am", "ask", "c", "d", "da", "e", "eik", "en", "er", "fi", "fia", "i", "ice", "ik", "ili", "in", "ir", "isa", "k", "ka", "kal", "ki", "ko", "kra", "las", "mi", "n", "o", "r", "ri", "s", "sa", "se", "si", "sk", "stra", "t", "tr", "u", "v", "vi", "we", "wu", "y", "yr", "z" ],
      [ { "mode" : "alts" }, "a", "ai", "al", "ca", "e", "ex", "fa", "i", "ia", "it", "k", "ka", "ki", "l", "li", "ly", "na", "o", "ol", "os", "r", "s", "t", "ta", "ti", "to", "um", "v", "va", "yr", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "K", "L", "M", "N", "R", "V", "X", "Z", "C", "S", "D", "E", "I", "J", "P", "U", "W", "V", "O" ],
      [ { "mode" : "alts" }, "a", "k", "l", "m", "n", "r", "v", "x", "z", "c", "s", "d", "e", "i", "j", "p", "u", "w", "v", "o" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "K", "L", "M", "N", "R", "V", "X", "Z", "C", "S", "D", "E", "I", "J", "P", "U", "W", "V", "O" ],
      [ { "mode" : "alts" }, "a", "k", "l", "m", "n", "r", "v", "x", "z", "c", "s", "d", "e", "i", "j", "p", "u", "w", "v", "o" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "K", "L", "M", "N", "R", "V", "X", "Z", "C", "S", "D", "E", "I", "J", "P", "U", "W", "V", "O" ],
      [ { "mode" : "alts" }, "a", "k", "l", "m", "n", "r", "v", "x", "z", "c", "s", "d", "e", "i", "j", "p", "u", "w", "v", "o" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "K", "L", "M", "N", "R", "V", "X", "Z", "C", "S", "D", "E", "I", "J", "P", "U", "W", "V", "O" ],
      [ { "mode" : "alts" }, "a", "k", "l", "m", "n", "r", "v", "x", "z", "c", "s", "d", "e", "i", "j", "p", "u", "w", "v", "o" ],
      [ { "mode" : "alts" }, "a", "c", "k", "m", "s", "k", "c", "d", "e", "i", "n", "r", "f", "l", "o", "t", "u", "v", "w", "y", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "A", "K", "L", "M", "N", "R", "V", "X", "Z", "C", "S", "D", "E", "I", "J", "P", "U", "W", "V", "O" ],
      [ { "mode" : "alts" }, "a", "k", "l", "m", "n", "r", "v", "x", "z", "c", "s", "d", "e", "i", "j", "p", "u", "w", "v", "o" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ],
      [ { "mode" : "alts" }, "a", "i", "l", "c", "e", "x", "f", "i", "t", "k", "y", "n", "o", "s", "r", "u", "m", "v", "z" ]
    ]
  ]
}