{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ae", "Al", "Ar", "Ax", "Da", "Ea", "Ei", "Fi", "He", "Il", "Ix", "Ka", "Oc", "Ta", "Tw", "Un", "Va", "Ve", "Xe" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "al", "at", "co", "ia", "is", "la", "li", "or", "ra", "ri", "sa", "to", "um", "us", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ae", "Al", "Ar", "Ax", "Da", "Ea", "Ei", "Fi", "He", "Il", "Ix", "Ka", "Oc", "Ta", "Tw", "Un", "Va", "Ve", "Xe" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "al", "at", "co", "ia", "is", "la", "li", "or", "ra", "ri", "sa", "to", "um", "us", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ae", "Al", "Ar", "Ax", "Da", "Ea", "Ei", "Fi", "He", "Il", "Ix", "Ka", "Oc", "Ta", "Tw", "Un", "Va", "Ve", "Xe" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "al", "at", "co", "ia", "is", "la", "li", "or", "ra", "ri", "sa", "to", "um", "us", "yr" ]
    ],
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ae", "Al", "Ar", "Ax", "Da", "Ea", "Ei", "Fi", "He", "Il", "Ix", "Ka", "Oc", "Ta", "Tw", "Un", "Va", "Ve", "Xe" ],
      [ { "mode" : "alts" }, "a", "ar", "at", "eg", "ei", "el", "era", "fia", "i", "il", "it", "l", "la", "li", "ly", "mi", "n", "na", "nd", "ne", "oz", "re", "ri", "samn", "ska", "st", "sta", "ta", "thyr", "ti", "tr", "tu", "va", "vi", "vina", "xa", "y", "yr", "zta" ],
      [ { "mode" : "alts" }, "al", "at", "co", "ia", "is", "la", "li", "or", "ra", "ri", "sa", "to", "um", "us", "yr" ]
    ]
  ]
}