{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Einfieran ", "Fiera ", "Talfieran " ],
      [ { "mode" : "alts" }, "Eiskari", "Eisamnyr", "Fiztari", "Ilaryr", "Unvinari" ],
      [ { "mode" : "alts" }, " Aethyryr", " Alstaus", " Arskayr", " Hemira" ]
    ]
  ]
}