{
  "attack" : {
    "default" : {
      "default" : [
        "For the Axilarium!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "What is it you need?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Target's out of reach!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "For the Axilarium!"
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "As you were.",
        "Citizen."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "My quarters have been vandalised!" 
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Enough of this, I can't work in these conditions!"
      ]
    }
  },
  "greeting" : {
    "default" : {
      "default" : [
        "Anything you need?",
        "Citizen."
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "Citizen.",
        "Stand aside, or I'll be forced to arrest you!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "I need back up!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Hostile eliminated!",
        "Target eliminated!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I lost them!",
        "I lost the target!",
        "Target's lost!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "My quarters aren't a barracks!",
        "This isn't a barracks!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target's out of sight!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Hostile spotted!",
        "Target spotted!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Freshly confiscated, they won't need it anymore."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "This doesn't meet basic standards for a officer of the Axilarium!"
      ]
    }
  },
    "tagCriteria" : {
    "default" : {
      "default" : [
        "Who searched my quarters without a warrent!?"
      ]
    }
  }
}