{
  "attack" : {
    "default" : {
      "default" : [
        "Axilari draw your blades!",
        "For the Unitarium!",
        "Do you really think you can take on the whole Unitarium?",
        "Kill them all, let the gods sort them out!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "What is it you need?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Target's out of reach!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "For the Unitarium!"
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "As you were.",
        "Citizen."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "My quarters have been vandalised!" 
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "Enough of this, I can't work in these conditions!"
      ]
    }
  },
  "greeting" : {
    "default" : {
      "default" : [
        "Anything you need?",
        "Citizen."
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "Citizen.",
        "Stand aside, or I'll be forced to arrest you!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "I need back up!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Hostile eliminated!",
        "Target eliminated!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Stay close and search!"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "I'm a vexara of the Unitarium, this is a violation of basic protocol!",
        "Remove that at once!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Find them!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Open fire!",
        "Take them out!"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Freshly confiscated, they won't need it anymore."
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "This doesn't meet basic standards for a officer of the Unitarium!"
      ]
    }
  },
    "tagCriteria" : {
    "default" : {
      "default" : [
        "When I find whoever conducted this unwarrented search, they will be court marshalled!"
      ]
    }
  }
}